.p-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 350px; /* Ensure a consistent minimum card height */
  }
  
  .p-card-img-top {
    object-fit: cover;
    height: 200px;
  }
  
  .p-card-body {
    display: flex;
    flex-direction: column;
    padding: 1rem; /* Optional for consistent padding inside the card */
    height: 100%; /* Fill available space in the card */
  }
  
  .description {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .p-button {
    margin-top: auto; /* Pushes the button to the bottom */
  }
  